/* ! main_content.css */
body {
  background-color: #ddd; }

h3 {
  text-transform: uppercase; }

#contentBox {
  width: 100%;
  height: auto;
  color: #ddd; }

#timedealBox {
  width: 100%;
  height: 556px;
  position: relative;
  top: 0; }
  #timedealBox > .inner_full_box {
    width: 100vw;
    height: 100%;
    background-image: url("../../img/headBox/timeDeal.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background-position: center; }
    #timedealBox > .inner_full_box > a {
      width: 100%;
      height: 100%;
      display: block; }

#lnb {
  width: 100%;
  height: 212px;
  padding: 50px 10px 56px;
  box-sizing: border-box;
  position: relative;
  position: relative; }
  #lnb::after {
    content: " ";
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -50vw;
    z-index: 1000; }
  #lnb::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #lnb::before {
    background-image: url("../../img/contentBox/pattern.png");
    background-repeat: repeat;
    background-position: center; }
  #lnb > .inner_full_box {
    z-index: -100; }
  #lnb > ul {
    width: 100%;
    height: 100%; }
    #lnb > ul > li {
      width: 110px;
      height: 100px;
      background-image: url("../../img/contentBox/lnbIcon.png");
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      margin-left: 40px; }
      #lnb > ul > li:nth-child(1) {
        background-position: -485px 0;
        margin-left: 0; }
      #lnb > ul > li:nth-child(2) {
        width: 90px;
        background-position: -660px 0; }
      #lnb > ul > li:nth-child(3) {
        width: 140px;
        background-position: -800px 0; }
      #lnb > ul > li:nth-child(4) {
        width: 110px;
        background-position: -985px 0; }
      #lnb > ul > li:nth-child(5) {
        width: 120px;
        background-position: -1145px 0; }
      #lnb > ul > li:nth-child(6) {
        width: 130px;
        background-position: -1305px 0; }
      #lnb > ul > li > a {
        width: 100%;
        height: 100%;
        display: block; }

#eventBox {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 176px;
  box-sizing: border-box; }
  #eventBox::before {
    content: " ";
    width: 100vw;
    height: 670px;
    background-image: url("../../img/contentBox/pattern.png");
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }

#eventBox > h3 {
  width: 500px;
  height: 110px;
  text-align: center;
  color: #fff;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -250px;
  font-size: 4.375rem;
  margin-bottom: 98px; }
  #eventBox > h3::after {
    content: " ";
    width: 140px;
    height: 0;
    border-bottom: 1px solid #ab060c;
    display: block;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -70px; }

.ulWrap {
  width: 1920px;
  height: 450px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -960px; }
  .ulWrap > ul {
    width: 2600px;
    height: auto;
    margin-left: -320px; }
    .ulWrap > ul > li {
      width: 300px;
      height: 400px;
      margin-left: 4px;
      margin-right: 20px;
      float: left;
      transition: all 500ms; }
      .ulWrap > ul > li.event_1 {
        background-image: url("../../img/contentBox/event/pro_1.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_2 {
        background-image: url("../../img/contentBox/event/pro_2.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_3 {
        background-image: url("../../img/contentBox/event/pro_3.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_4 {
        background-image: url("../../img/contentBox/event/pro_4.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_5 {
        background-image: url("../../img/contentBox/event/pro_5.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_6 {
        background-image: url("../../img/contentBox/event/pro_6.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_7 {
        background-image: url("../../img/contentBox/event/pro_7.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li.event_8 {
        background-image: url("../../img/contentBox/event/pro_8.png");
        background-repeat: no-repeat;
        background-position: center; }
      .ulWrap > ul > li:hover {
        transform: translate(0, 30px); }
      .ulWrap > ul > li > a {
        width: 100%;
        height: 100%;
        display: block; }
  .ulWrap div {
    width: 60px;
    height: 90px;
    position: absolute;
    cursor: pointer; }
  .ulWrap #goLeft {
    background-image: url("../../img/contentBox/event/goleft.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -510px; }
  .ulWrap #goRight {
    background-image: url("../../img/contentBox/event/goright.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: 450px; }

#newHotBox {
  width: 100%;
  height: auto;
  padding-top: 176px;
  box-sizing: border-box; }
  #newHotBox > h3 {
    width: 500px;
    height: 110px;
    text-align: center;
    color: #000;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -250px;
    font-size: 4.375rem;
    margin-bottom: 98px; }
    #newHotBox > h3::after {
      content: " ";
      width: 140px;
      height: 0;
      border-bottom: 1px solid #ab060c;
      display: block;
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -70px; }
  #newHotBox > div {
    width: 100%;
    height: 976px;
    padding: 0px 10px; }
    #newHotBox > div > ul {
      width: 100%;
      height: 100%; }
      #newHotBox > div > ul > li {
        width: 444px;
        height: 444px;
        border-radius: 222px;
        float: left;
        margin-right: 54px;
        margin-bottom: 54px;
        background-size: 100%;
        transition: all 700ms; }
        #newHotBox > div > ul > li:nth-child(1) {
          background-image: url("../../img/contentBox/newNhot/pro_1.png");
          background-repeat: no-repeat;
          background-position: center; }
        #newHotBox > div > ul > li:nth-child(2) {
          background-image: url("../../img/contentBox/newNhot/pro_2.png");
          background-repeat: no-repeat;
          background-position: center; }
        #newHotBox > div > ul > li:nth-child(3) {
          background-image: url("../../img/contentBox/newNhot/pro_3.png");
          background-repeat: no-repeat;
          background-position: center; }
        #newHotBox > div > ul > li:nth-child(4) {
          background-image: url("../../img/contentBox/newNhot/pro_4.png");
          background-repeat: no-repeat;
          background-position: center; }
        #newHotBox > div > ul > li:nth-child(2n) {
          margin-right: 0; }
        #newHotBox > div > ul > li > a {
          width: 100%;
          height: 100%;
          display: block; }
          #newHotBox > div > ul > li > a > span {
            width: 100%;
            height: 100%;
            color: transparent;
            text-align: center;
            padding-top: 182px;
            box-sizing: border-box;
            transition: all 700ms;
            position: relative;
            border-radius: 222px;
            font-size: 2.25rem;
            display: block; }
            #newHotBox > div > ul > li > a > span::after {
              content: " ";
              width: 200px;
              height: 170px;
              border-top: 1px solid rgba(255, 255, 255, 0);
              border-bottom: 1px solid rgba(255, 255, 255, 0);
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -85px;
              margin-left: -100px; }
      #newHotBox > div > ul li:hover {
        background-size: 120%;
        transition: all 700ms; }
        #newHotBox > div > ul li:hover > a > span {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.7); }
          #newHotBox > div > ul li:hover > a > span::after {
            border-color: #fff; }
  #newHotBox > .more {
    width: 100%;
    height: 70px;
    background-color: #333;
    text-align: center;
    font-size: 2.25rem;
    color: #fff;
    margin-top: 90px;
    margin-bottom: 166px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

#bmMallBox {
  width: 100%;
  height: 178px;
  position: relative;
  top: 0;
  z-index: 0; }
  #bmMallBox > .inner_full_box {
    width: 100vw;
    height: 100%;
    background-image: url("../../img/headBox/bmMall.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background-position: center; }
  #bmMallBox a {
    width: 100%;
    height: 100%;
    display: block; }
