/* ! headBox.css */
body {
  overflow-x: hidden;
  font-family: 'Nanum Gothic Coding', monospace; }

#wrap {
  width: 960px;
  height: auto;
  margin: 0 auto; }

#headBox {
  width: 100%;
  height: 414px;
  color: #fff; }
  #headBox a {
    width: 100%;
    height: 100%;
    display: block; }

#subHbox {
  width: 100%;
  height: 60px;
  padding-left: 6px;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  position: relative; }
  #subHbox::after {
    content: " ";
    width: 100vw;
    height: 5px;
    display: block;
    background-color: #ab060c;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -50vw;
    z-index: 1000; }
  #subHbox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #030303;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #subHbox > h2 {
    float: left;
    font-size: 0.9rem;
    color: #fff;
    font-size: 1.25rem;
    text-transform: none; }

#messageBox {
  float: right; }
  #messageBox > li {
    width: 100px;
    height: 30px;
    float: left;
    margin-right: 20px;
    font-size: 0.8rem;
    margin-top: 4px; }
    #messageBox > li a {
      width: 30px;
      height: 100%;
      float: left;
      margin-right: 10px;
      margin-top: 4px; }
    #messageBox > li .count_box {
      width: 60px;
      height: 20px;
      float: left;
      border-radius: 10px;
      background-color: #fff;
      display: block; }
  #messageBox > li:last-child {
    margin-right: 10px;
    background-position: center; }

/* //#subHbox ___________________ */
#mainHbox {
  width: 100%;
  height: 160px;
  padding-top: 68px;
  padding-left: 5px;
  box-sizing: border-box;
  position: relative; }
  #mainHbox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #030303;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }

h1 {
  width: 242px;
  height: 35px;
  float: left;
  background-image: url("../../img/headBox/logo.png");
  background-repeat: no-repeat;
  background-position: center; }

#unb {
  float: right;
  margin-top: 20px;
  font-size: 1.25rem; }
  #unb > ul {
    width: 100%; }
    #unb > ul > li {
      float: left;
      margin-right: 16px; }
      #unb > ul > li:last-child {
        margin-right: 10px; }

/* //#mainHbox ___________________ */
#gnb {
  width: 100%;
  height: 74px;
  padding: 26px 10px 0px;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative; }
  #gnb::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #gnb > ul {
    width: 100%;
    height: 100%; }
    #gnb > ul > li {
      width: auto;
      height: 20px;
      text-align: center;
      line-height: 20px;
      float: left;
      margin-right: 70px; }
      #gnb > ul > li:last-child {
        margin-right: 0; }
      #gnb > ul > li > a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0px 20px; }

/* //#gnb ___________________ */
#searchBox {
  width: 100%;
  height: 120px;
  padding-top: 32px;
  box-sizing: border-box;
  font-size: 1.25rem;
  position: relative;
  position: relative; }
  #searchBox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #searchBox::after {
    content: " ";
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #ab060c;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -50vw;
    z-index: 1000; }

#mrDeco {
  width: 53px;
  height: 97px;
  float: left;
  margin-top: -32px;
  background-image: url("../../img/headBox/mrIcon.png");
  background-repeat: no-repeat;
  background-position: center; }

#misshaR {
  width: 200px;
  height: 26px;
  float: left;
  text-align: center;
  color: #000;
  margin-top: 25px;
  font-weight: bold; }

#searchBox > form {
  float: left;
  margin-left: 54px; }
  #searchBox > form input {
    width: 358px;
    height: 58px;
    background-color: #fff;
    text-indent: 30px;
    padding-right: 30px;
    border: none;
    box-sizing: border-box;
    display: block;
    float: left;
    font-size: 1.5rem; }
  #searchBox > form button {
    width: 80px;
    height: 70px;
    color: #fff;
    background-color: #ab060c;
    font-size: 1.875rem;
    display: block;
    float: right;
    margin-top: -6px; }

#recommendBox {
  width: 200px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  float: right;
  color: #000;
  margin-top: 25px;
  font-weight: bold; }

/* //#searchBox ___________________ */
#siteNBbox {
  width: 960px;
  height: 56px;
  font-size: 0.75rem;
  padding-top: 18px;
  box-sizing: border-box;
  color: #000;
  position: absolute; }
  #siteNBbox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #siteNBbox > .inner_full_box {
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background-position: center;
    z-index: 100; }

#misshaInfo {
  float: left;
  position: relative;
  z-index: 200; }
  #misshaInfo > li {
    float: left;
    font-size: 1.25rem; }
  #misshaInfo > li:hover {
    border-bottom: 2px solid #ab060c; }

#siteNBbox li {
  margin-right: 90px; }

#siteNBbox li:first-child {
  margin-left: 122px; }

#siteNBbox li:last-child {
  margin-right: 0; }

/* ! sub_men.css */
body {
  background-color: #333; }

h2, h3 {
  text-transform: uppercase; }

#contentBox {
  width: 100%;
  height: auto; }

#titleBox {
  width: 100%;
  height: 258px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 138px;
  padding-top: 110px;
  box-sizing: border-box;
  position: relative; }
  #titleBox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #030303;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #titleBox::before {
    background-image: -webkit- linear-gradient(90deg, #101010, #aaa, #101010);
    background-image: -moz- linear-gradient(90deg, #101010, #aaa, #101010);
    background-image: -o- linear-gradient(90deg, #101010, #aaa, #101010);
    background-image: linear-gradient(90deg, #101010, #aaa, #101010); }
  #titleBox > h2 {
    font-size: 3.125rem;
    font-family: 'Cardo', serif;
    letter-spacing: 0.2em;
    color: #fff; }
    #titleBox > h2 p:last-child {
      font-size: 1.25rem;
      letter-spacing: 2em; }

.planning_box {
  width: 100%;
  height: 562px;
  position: relative; }
  .planning_box > .inner_full_box {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background-position: center; }
    .planning_box > .inner_full_box a {
      width: 100%;
      height: 100%;
      display: block; }
    .planning_box > .inner_full_box .box_wrap {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .planning_box > .inner_full_box .box_wrap > .planning_banner {
        width: 5080px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -2540px;
        position: relative; }
        .planning_box > .inner_full_box .box_wrap > .planning_banner > li {
          width: 1000px;
          height: 100%;
          float: left;
          margin-right: 20px; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:last-child {
            margin-right: 0; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:nth-child(1) {
            background-image: url("../../img/sub_men/planning/pl_01.png");
            background-repeat: no-repeat;
            background-position: center; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:nth-child(2) {
            background-image: url("../../img/sub_men/planning/pl_02.png");
            background-repeat: no-repeat;
            background-position: center; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:nth-child(3) {
            background-image: url("../../img/sub_men/planning/pl_03.png");
            background-repeat: no-repeat;
            background-position: center; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:nth-child(4) {
            background-image: url("../../img/sub_men/planning/pl_04.png");
            background-repeat: no-repeat;
            background-position: center; }
          .planning_box > .inner_full_box .box_wrap > .planning_banner > li:nth-child(5) {
            background-image: url("../../img/sub_men/planning/pl_05.png");
            background-repeat: no-repeat;
            background-position: center; }
      .planning_box > .inner_full_box .box_wrap > .tab_menu {
        width: 180px;
        height: 20px;
        position: absolute;
        top: 530px;
        left: 50%;
        margin-left: -90px; }
        .planning_box > .inner_full_box .box_wrap > .tab_menu > li {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          float: left;
          margin-right: 20px;
          background-color: #333; }
          .planning_box > .inner_full_box .box_wrap > .tab_menu > li:nth-child(3) {
            background-color: #ab060c; }
          .planning_box > .inner_full_box .box_wrap > .tab_menu > li:last-child {
            margin-right: 0; }
          .planning_box > .inner_full_box .box_wrap > .tab_menu > li > button {
            width: 100%;
            height: 100%; }

#goodsMenu {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  padding-top: 176px; }
  #goodsMenu h3 {
    width: 500px;
    height: 110px;
    text-align: center;
    color: #000;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -250px;
    font-size: 4.375rem;
    margin-bottom: 98px;
    color: #fff; }
    #goodsMenu h3::after {
      content: " ";
      width: 140px;
      height: 0;
      border-bottom: 1px solid #ab060c;
      display: block;
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -70px; }
  #goodsMenu > ul {
    width: 960px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 126px; }
    #goodsMenu > ul > li {
      width: 100%;
      height: auto;
      margin-bottom: 30px; }
      #goodsMenu > ul > li:last-child {
        margin-bottom: 0; }
      #goodsMenu > ul > li:nth-child(1) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con1_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(1) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con1_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(2) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con2_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(2) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con2_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(2) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con2_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(2) li:nth-child(4) > .pro_img {
        background-image: url("../../img/sub_men/content/con2_4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(3) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con3_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(3) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con3_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(3) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con3_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(4) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con4_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(4) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con4_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(4) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con4_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(4) li:nth-child(4) > .pro_img {
        background-image: url("../../img/sub_men/content/con4_4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(5) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con5_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(5) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con5_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(5) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con5_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(5) li:nth-child(4) > .pro_img {
        background-image: url("../../img/sub_men/content/con5_4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(6) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con6_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(6) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con6_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(7) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con7_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(7) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con7_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(7) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con7_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(8) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con8_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(8) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con8_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(8) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con8_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(8) li:nth-child(4) > .pro_img {
        background-image: url("../../img/sub_men/content/con8_4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(8) li:nth-child(5) > .pro_img {
        background-image: url("../../img/sub_men/content/con8_5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(1) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(2) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(3) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(4) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(5) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(6) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_6.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(7) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_7.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li:nth-child(9) li:nth-child(8) > .pro_img {
        background-image: url("../../img/sub_men/content/con9_8.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        background-size: 75%; }
      #goodsMenu > ul > li > button {
        width: 100%;
        height: 70px;
        background-color: #ab060c;
        text-align: left;
        line-height: 30px;
        font-size: 2.125rem;
        color: #fff;
        margin-left: -10px;
        padding-left: 300px;
        box-sizing: border-box; }
        #goodsMenu > ul > li > button > i {
          float: right;
          margin-right: 300px; }
      #goodsMenu > ul > li > .menu_content {
        width: 940px;
        height: 460px;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6) inset;
        display: none;
        overflow: hidden;
        background-color: #fff; }
        #goodsMenu > ul > li > .menu_content > ul {
          width: 100%;
          height: 100%;
          padding-top: 60px;
          box-sizing: border-box;
          margin: 0 auto; }
          #goodsMenu > ul > li > .menu_content > ul > li {
            width: 220px;
            height: 400px;
            margin-right: 20px;
            float: left;
            margin-bottom: 26px; }
            #goodsMenu > ul > li > .menu_content > ul > li > .pro_img {
              width: 100%;
              height: 295px;
              transition: all 500ms; }
            #goodsMenu > ul > li > .menu_content > ul > li > .pro_name {
              width: 100%;
              height: 100px;
              color: #000;
              text-align: center;
              padding-top: 16px;
              box-sizing: border-box;
              font-size: 1.5rem; }
            #goodsMenu > ul > li > .menu_content > ul > li a {
              width: 100%;
              height: 100%;
              display: block; }
            #goodsMenu > ul > li > .menu_content > ul > li:hover > .pro_img {
              transform: scale(1.2); }
          #goodsMenu > ul > li > .menu_content > ul > li:nth-child(4n) {
            margin-right: 0; }

#giftSET {
  width: 100%;
  height: 900px;
  position: relative;
  padding-top: 65px; }
  #giftSET::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #giftSET > h3 {
    width: 500px;
    height: 135px;
    color: #000;
    font-size: 2rem;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -250px;
    margin-bottom: 98px;
    text-align: center;
    font-family: 'Cardo', serif; }
    #giftSET > h3::after {
      content: " ";
      width: 300px;
      height: 0;
      border-bottom: 1px solid #ab060c;
      display: block;
      position: absolute;
      top: 160px;
      left: 50%;
      margin-left: -150px; }
    #giftSET > h3 > p {
      font-size: 3.125rem;
      line-height: 0.8; }
      #giftSET > h3 > p:first-child {
        letter-spacing: 0.2rem; }
      #giftSET > h3 > p:last-child {
        font-size: 6.25rem;
        letter-spacing: 0.25rem; }
  #giftSET > ul {
    width: 100%;
    height: 280px;
    padding-top: 30px;
    padding-left: 20px;
    box-sizing: border-box; }
    #giftSET > ul > li {
      width: 300px;
      height: 260px;
      float: left;
      margin: 0 6px 20px;
      background-position: center;
      transition: all 400ms;
      background-size: 100%; }
      #giftSET > ul > li:nth-child(1) {
        background-image: url("../../img/sub_men/set/set_1.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:nth-child(2) {
        background-image: url("../../img/sub_men/set/set_2.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:nth-child(3) {
        background-image: url("../../img/sub_men/set/set_3.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:nth-child(4) {
        background-image: url("../../img/sub_men/set/set_4.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:nth-child(5) {
        background-image: url("../../img/sub_men/set/set_5.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:nth-child(6) {
        background-image: url("../../img/sub_men/set/set_6.png");
        background-repeat: no-repeat;
        background-position: center; }
      #giftSET > ul > li:hover {
        background-size: 120%; }

.rotate {
  transform: rotate(180deg);
  transition: all 300ms; }

.not_Rotate {
  transform: none;
  transition: all 300ms; }

/* ! footBox.css */
#footBox {
  width: 100%;
  height: auto;
  color: #ddd; }

#footInfo {
  width: 100%;
  height: 266px;
  padding-top: 70px;
  box-sizing: border-box;
  position: relative; }
  #footInfo::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #030303;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #footInfo > h2 {
    width: 170px;
    height: 58px;
    float: left;
    margin-right: 20px;
    background-image: url("../../img/footBox/h2.png");
    background-repeat: no-repeat;
    background-position: center; }
  #footInfo > address {
    width: 540px;
    height: 76px;
    float: left;
    font-style: normal;
    line-height: 1.2; }
    #footInfo > address > p:last-of-type > span {
      text-transform: uppercase; }

#snsBox {
  width: 182px;
  height: 54px;
  float: right;
  margin-top: -8px; }
  #snsBox ul {
    width: 100%;
    height: 100%; }
    #snsBox ul > li {
      width: 54px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      border-radius: 27px;
      float: left;
      margin-right: 10px;
      background-color: #777777; }
      #snsBox ul > li:nth-child(1) {
        background-image: url("../../img/footBox/sns/facebook.png");
        background-repeat: no-repeat;
        background-position: center; }
      #snsBox ul > li:nth-child(2) {
        background-image: url("../../img/footBox/sns/kakao.png");
        background-repeat: no-repeat;
        background-position: center; }
      #snsBox ul > li:nth-child(3) {
        background-image: url("../../img/footBox/sns/instagram.png");
        background-repeat: no-repeat;
        background-position: center; }
      #snsBox ul > li:last-child {
        margin-right: 0; }

/* //#footInfo _______________________ */
#inbBox {
  width: 100%;
  height: 60px;
  padding-left: 10px;
  padding-top: 18px;
  box-sizing: border-box;
  position: relative; }
  #inbBox::before {
    content: " ";
    width: 100vw;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -100; }
  #inbBox > ul {
    width: 100%;
    height: 100%;
    font-size: 0.8rem; }
  #inbBox dt {
    width: auto;
    height: auto;
    float: left;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    position: relative; }
    #inbBox dt::after {
      content: ":";
      display: block;
      position: absolute;
      top: 0;
      right: -10px; }
  #inbBox dd {
    width: auto;
    height: auto;
    width: auto;
    height: auto;
    float: left;
    font-size: 1rem; }
  #inbBox li {
    float: left;
    margin-right: 16px;
    font-size: 1rem; }

/* //#inbBox _______________________ */
